body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background: #823802;
    color: white;
    padding: 1rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav ul li {
    margin: 0 1rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    padding: 2rem;
    text-align: center;
}

.content h1 {
    font-size: 3.2rem;
    color: black;
}

.content2 h1 {
    font-size: 1.8rem;
    color: black;
    text-align: center;
}

.content img {
    width: 100%;
    height: auto;
    margin: 2rem 0;
}

.content p {
    font-size: 1.25rem;
    color: black;
}

footer {
    background: #823802;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer p {
    color: white;
}

footer a {
    color: white;
}

/* Updated Styles for content2 */
.content2 .office-section {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 2rem;
}

.content2 img {
    width: 40%; /* Make the image smaller */
    height: auto;
    margin-right: 2rem;
}

.content2 p {
    font-size: 1.5rem;
    color: black;
}

/* Mobile Responsive Styles */
@media only screen and (max-width: 600px) {
    .content {
        padding: 1.5rem;
    }

    .content h1 {
        font-size: 1.75rem;
    }

    .content img {
        width: 100%;
    }

    .content p {
        font-size: 1rem;
    }

    .content2 .office-section {
        display: block;
        padding: 1rem;
    }

    .content2 img {
        width: 100%;
        margin-bottom: 1rem;
    }

    .content2 p {
        font-size: 1.25rem;
    }

    footer {
        padding: 0.5rem;
    }
}
